*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: cornflowerblue;
    color:#fff;}



.buttons{
    display: flex;
    justify-content: center;
    font-size: xx-large;
    font-weight: 700;
    margin-top: 20px;

}
.watchlaout{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
flex-direction: column;
}
.timer{
    display: flex;
    justify-content: center;
    font-size: xx-large;
    font-weight: 700;
    margin-top: 20px;
}




